<?xml version="1.0" encoding="UTF-8"?>
        <Config>
            <DataBase>
                <host>localhost</host>
                <port>3307</port>
                <db>adminSporkify</db>
                <username>root</username>
                <password></password>
            </DataBase>
        </Config>